<%-include("partials/header") -%>
  <h1>Compose</h1>


  <form method="post" action="/compose">
    <div class="form-group">
      <label for="postTitle">Title</label>
      <input class="form-control" id="postTitle" type="text" name="postTitle" />
    </div>
    <div class="form-group">
      <label for="postBody">Post</label>
      <textarea id="postBody" class="form-control" rows="4" cols="50" type="text" name="postBody"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>


  <%-include("partials/footer") -%>