<%-include("partials/header") -%>
  <h1>Compose</h1>

  <div>
    <form method="post">
      <input type="text" />
      <button type="submit">Publish</button>
    </form>
  </div>


  <%-include("partials/footer") -%>